# ADACS introductory data analysis workshop

This lesson is adapted from the [Data Carpentry Ecology lesson](http://www.datacarpentry.org/python-ecology-lesson/)
- make sure to open this ipython notebook in the same directory as the data used in this notebook

We'll be using an etherpad to share solutions to challenges, ask questions and chat:
- etherpad let's you collaborate simultaniously on the same document
- everyone has their own identificating colour
- there is also a chat function where you can talk and ask questions if you like
Your isntructor will give you the link to the etherpad on the day of the course.
After finishing the course and updated notebook with the answers will be made available in the github repo.


## Introduction to Python and data analysis using pandas

Python is a high-level, interpreted programming language. This means the code is easy to read for humans and there is no need for us to compile it and in many cases we do not have to think too much about the underlying system fro e.g. memory usage.

As a consequence, we can use it in two ways:
- Using the interpreter as an "advanced calculator" in interactive mode:
- Executing programs/scripts saved as a text file, usually with *.py extension:


# Recap: quick intro to python

### Data types
How information is stored in a DataFrame or a python object affects what we can do with it and the outputs of calculations as well. There are two main types of data that we're explore in this lesson: numeric and character types.


**Numeric Data Types**

- integer
- float

**Character Data Types**

- strings (a word, a sentence, or several sentences)
- strings that contain numbers can not be used for mathematical operations!

**Lists** 

are a common data structure to hold an ordered sequence of
elements. Each element can be accessed by an index.  Note that Python
indexes start with 0 instead of 1:

**Tuple**  

Similar to a list in that it's an ordered sequence of elements. However,
tuples can not be changed once created (they are "immutable"). Tuples are
created by placing comma-separated values inside parentheses `()`.

**Dictionary** 

A container that holds pairs of objects - keys and values.

Dictionaries work a lot like lists - except that you index them with *keys*. 
You can think about a key as a name for or a unique identifier for a set of values
in the dictionary. Keys can only have particular types - they have to be 
"hashable". Strings and numeric types are acceptable, but lists aren't.


### Operators
We can perform mathematical calculations in Python using the basic operators
 `+, -, /, *, %`:
 
** In python 2 if we divide one integer by another, we get an integer! **
The result in python 3 is different where we get a float.
Remember to convert your integers to floats when you want floating point precision for divisions!


We can also use comparison and logic operators:
`<, >, ==, !=, <=, >=` and statements of identity such as
`and, or, not`. The data type returned by this is 
called a _boolean_.
 
### Scripting

 **Comments** start with #
 
 **Methods** are a way to interact with an object (a list, for example). We can invoke 
a method using the dot `.` followed by the method name and a list of arguments in parentheses. 
To find out what methods are available for an object, we can use the built-in `help` command:


A **Library** in Python contains a set of tools (called functions) that perform
tasks on our data. 

Python doesn't load all of the libraries available to it by default. We have to
add an `import` statement to our code in order to use library functions. To import
a library, we use the syntax `import libraryName`. If we want to give the
library a nickname to shorten the command, we can add `as nickNameHere`. 

You only need to load a library once during your session. You can load the library when needed
or you can load all necessary libraries at the beginning of your script. 
This is good practice, especially for the readability of your code

# Working With Pandas DataFrames in Python

## Starting in the same spot

To help the lesson run smoothly, let's ensure everyone is in the same directory.
This should help us avoid path and file name issues. At this time please
navigate to the workshop directory. If you working in IPython Notebook be sure
that you start your notebook in the workshop directory.

A quick aside that there are Python libraries like [OS
Library](https://docs.python.org/3/library/os.html) that can work with our
directory structure, however, that is not our focus today.

If you need to change your directory ```import os``` and use ```os.chdir```

Or you can use **%** to access the command line, e.g. ```% cd folder_name```


## Our Data 

For this lesson, we will be using [Galaxy Zoo DR1 data](https://www.google.com/search?q=galaxy+zoo&ie=utf-8&oe=utf-8&client=firefox-b-ab). Galaxy Zoo is described in Lintott et al. 2008, MNRAS, 389, 1179 and the data release is described in Lintott et al. 2011, 410, 166.

The table we use is an adapted version of Table 2, listing classifications of galaxies which have spectra included in SDSS Data Release 7. The debiased fraction of the votes in elliptical and spiral categories is given, along with flags identifying systems as classified as spiral, elliptical or uncertain.


| Column           | Description                             |
|------------------|-----------------------------------------|
| id               | SDSS ID, objects taken from DR7         |
| ra               | Right Ascension  (HMS)                  |
| dec              | Declination (DMS)                       |
| nvote            | number of votes                         |
| p_e              | debiased vote fraction Ellipticals      |
| p_s              | debiased vote fraction all Spirals      |
| type             | whether final vote is E, S or U         |
| class            | spiral or elliptical class, eg E0 or CW |

Galaxies flagged as ‘elliptical’ or ‘spiral’ require 80 per cent of the vote in that category after the debiasing procedure has been applied; all other galaxies are flagged ‘uncertain’.
Note, the elliptical class is randomly assigned. The spiral class is based on the highest vote fraction of the spiral classes in the Galaxy Zoo DR 1 Table 2 data.


## Pandas in Python

One of the best options for working with tabular data in Python is to use the
[Python Data Analysis Library](http://pandas.pydata.org/) (a.k.a. Pandas). The
Pandas library provides data structures, produces high quality plots with
[matplotlib](http://matplotlib.org/) and integrates nicely with other libraries
that use [NumPy](http://www.numpy.org/) (which is another Python library) arrays.

Each time we call a function that's in a library, we use the syntax
`LibraryName.FunctionName`. Adding the library name with a `.` before the
function name tells Python where to find the function. In the example above, we
have imported Pandas as `pd`. This means we don't have to type out `pandas` each
time we call a Pandas function.

In [ ]:
#if you need to change your directory
import os
os.getcwd()
os.chdir("data/") #make sure you enter the correct fille path

In [ ]:
import pandas as pd
#check your version, we need v0.19 or higher
pd.__version__

# Reading CSV Data Using Pandas

We will begin by locating and reading our survey data which are in CSV format.
We can use Pandas' `read_csv` function to pull the file directly into a
[DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).

## So What's a DataFrame?

A DataFrame is a 2-dimensional data structure that can store data of different
types (including characters, integers, floating point values, factors and more)
in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in
R. A DataFrame always has an index (0-based). An index refers to the position of 
an element in the data structure.

In [ ]:
# note that pd.read_csv is used because we imported pandas as pd
pd.read_csv('GalaxyZoo1.csv')

We can see that there were 667944 rows parsed. Each row has 9
columns. The first column is the index of the DataFrame. The index is used to
identify the position of the data, but it is not an actual column of the DataFrame. 
It looks like  the `read_csv` function in Pandas  read our file properly. However, 
we haven't saved any data to memory so we can work with it.We need to assign the 
DataFrame to a variable. Remember that a variable is a name for a value, such as `x`, 
or  `data`. We can create a new  object with a variable name by assigning a value to it using `=`.

Let's call the imported survey data `gal_df`:

In [ ]:
gal_df=pd.read_csv('GalaxyZoo1.csv')

Notice when you assign the imported DataFrame to a variable, Python does not
produce any output on the screen. We can print the value of the `gal_df`
object by typing its name into the Python command prompt.

## Manipulating Our Survey Data

Now we can start manipulating our data. First, let's check the data type of the
data stored in `gal_df` using the `type` method. The `type` method and
`__class__` attribute tell us that `gal_df` is `<class 'pandas.core.frame.DataFrame'>`.

In [ ]:
type(gal_df)

In [ ]:
gal_df.__class__

We can also enter `gal_df.dtypes` at our prompt to view the data type for each
column in our DataFrame. `int64` represents numeric integer values - `int64` cells
can not store decimals. `object` represents strings (letters and numbers). `float64`
represents numbers with decimals.

In [ ]:
gal_df.dtypes

Pandas and base Python use slightly different names for data types. More on this
is in the table below:

| Pandas Type | Native Python Type | Description |
|-------------|--------------------|-------------|
| object | string | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
| int64  | int | Numeric characters. 64 refers to the memory allocated to hold this character. |
| float64 | float | Numeric characters with decimals. If a column contains numbers and NaNs(see below), pandas will default to float64, in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A (but see the [datetime] module in Python's standard library) | Values meant to hold time data. Look into these for time series experiments. |

[datetime]: http://doc.python.org/2/library/datetime.html


## Remember the way python treats integer division?

**In python 2 integer division returns and integer, as opposed to python 3 where we get a float.**
If at least one of the numebrs is a float then we get a float.
Alternatively we could use ```from __future__ import division```, which will then treat integer division in
python 2 as python 3. However, be aware that if the way python handles division is changed in the future your code might break. So choose what you think is the most stable option for your scripts!


To modify the format of values within our data frame we can use the ```astype``` function (also remember in pandas the type is `float64`).
Don't forget this is a function within pandas so we use it with a `.`, for example to convert 
the `nvote` field to floating point values we would run:

In [ ]:
# convert the nvote field from an integer to a float
gal_df['nvote']=gal_df['nvote'].astype('float64')

In [ ]:
gal_df.dtypes

In [ ]:
from __future__ import division
10/3

What happens if we try to convert probability values to integers?

In [ ]:
gal_df['p_e']=gal_df['p_e'].astype('int64')

Notice that this throws a value error: `ValueError: Cannot convert NA to
integer`. If we look at the `weight` column in the surveys data we notice that
there are NaN (**N**ot **a** **N**umber) values. *NaN* values are undefined
values that cannot be represented mathematically. Pandas, for example, will read
an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable
properties: if we were to average the `weight` column without replacing our NaNs,
Python would know to skip over those cells.

In [ ]:
gal_df['p_e'].mean()

_Note: older pandas version do not know how to handle NaN, please update to v0.19_

Check your pandas version using `pd.__version__`, if you need to update open a bash shell
and type ```conda update pandas```.

---

## Missing Data Values - NaN

Dealing with missing data values is always a challenge. It's sometimes hard to
know why values are missing - was it because of a data entry error? Or data that
someone was unable to collect? Should the value be 0? We need to know how
missing values are represented in the dataset in order to make good decisions.
If we're lucky, we have some metadata that will tell us more about how null
values were handled.

For instance, in some disciplines, like Remote Sensing, missing data values are
often defined as -9999. Having a bunch of -9999 values in your data could really
alter numeric calculations. Often in spreadsheets, cells are left empty where no
data are available. Pandas will, by default, replace those missing values with
NaN. However it is good practice to get in the habit of intentionally marking
cells that have no data, with a no data value! That way there are no questions
in the future when you (or someone else) explores your data.

### Where Are the NaN's?

Let's explore the NaN values in our data a bit further. 
First, let's figure out how many rows contain NaN values for weight. 
We can do this by identifying how many rows have a NULL value (`.isnull`) or by counting the number of rows that have a meaningful value (e.g., p_e>0):

In [ ]:
len(gal_df[pd.isnull(gal_df.p_e)])

In [ ]:
len(gal_df[gal_df.p_e>0])

We can replace all NaN values with zeroes using the `.fillna()` method (after
making a copy of the data so we don't lose our work).

However, NaN and 0 yield different analysis results. The mean value when NaN
values are replaced with 0 is different from when NaN values are simply thrown
out or ignored.

In [ ]:
#replace nan with 0
df1 = gal_df.copy()
df1['p_e']=df1['p_e'].fillna(0)

In [ ]:
#check mean, how does it differ from before?
print(gal_df['p_e'].mean())
gal_df['p_e'].mean()

We can fill NaN values with any value that we chose. The code below fills all
NaN values with a mean for all weight values.

```python
 df1['nvote'] = gal_df['nvote'].fillna(gal_df['nvote'].mean())
```

We could also chose to create a subset of our data, only keeping rows that do
not contain NaN values, using `.dropna()` method.

**The point is to make conscious decisions about how to manage missing data.** 
This is where we think about how our data will be used and how these values will
impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We
just need to be cautious about how the decisions that we make impact scientific
results.

In [ ]:
 df1['nvote'] = gal_df['nvote'].fillna(gal_df['nvote'].mean())

## Useful Ways to View DataFrame objects in Python

There are multiple methods that can be used to summarize and access the data
stored in DataFrames. Let's try out a few. Note that we call the method by using
the object name `gal_df.method`. So `gal_df.columns` provides an index
of all of the column names in our DataFrame.

### Challenges

Try out the methods below to see what they return.

1. `gal_df.columns`.
2. `gal_df.head()`. Also, what does `gal_df.head(15)` do?
3. `gal_df.tail()`.
4. `gal_df.shape`. Take note of the output of the shape method. What format does it return the shape of the DataFrame in?

HINT: [More on tuples, here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).

In [ ]:
gal_df.columns

In [ ]:
gal_df.shape

## Calculating Statistics From Data In A Pandas DataFrame

We've read our data into Python. Next, let's perform some quick summary
statistics to learn more about the data that we're working with. We might want
to know how many animals were collected in each plot, or how many of each
species were caught. We can perform summary stats quickly using groups. But
first we need to figure out what we want to group by.

Let's begin by exploring our data:

In [ ]:
gal_df.columns.values

## Selecting Data Using Labels (Column Headings)

To recap, we use square brackets `[]` to select a subset of an Python object. For example,
we can select all of data from a column named `type` from the `gal_df`
DataFrame by name:

```python
gal_df['type']
# this syntax, calling the column as an attribute, gives you the same output
gal_df.type
```

We can also create an new object that contains the data within the `type`
column as follows:

```python
# create an object named gal_types that only contains the `types` column
gal_types = gal_df['types']
```

We can pass a list of column names too, as an index to select columns in that
order. This is useful when we need to reorganize our data.

**NOTE:** If a column name is not contained in the DataFrame, an exception
(error) will be raised.

```python
# select the species and plot columns from the DataFrame
gal_df[['type', 'class']]
# what happens when you flip the order?
gal_df[['class', 'type']]
#what happens if you ask for a column that doesn't exist?
gal_df['types']
```

Let's get a list of all the galaxy types. The `pd.unique` function tells us all of
the unique values in the `type` column:

In [ ]:
gal_types = gal_df['type']
pd.unique(gal_df['type'])

### Challenges

1. What is the difference between `len(gal_df.NVOTE)` and `gal_df['NVOTE'].nunique()`?

In [ ]:
len(gal_df.nvote)

In [ ]:
gal_df['nvote'].nunique()

## Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes
within fields of our data. For example, we might want to calculate the average
weight of all individuals per plot.

The Pandas function `describe` will return descriptive stats including: mean,
median, max, min, std and count for a particular column in the data. Pandas'
`describe` function will only return summary values for columns containing
numeric data.
We can calculate basic statistics for all records in a single column using the
syntax below:

In [ ]:
gal_df['nvote'].describe()

We can also extract one specific metric if we wish:

```python
gal_df['nvote'].min()
gal_df['nvote'].max()
gal_df['nvote'].mean()
gal_df['nvote'].std()
gal_df['nvote'].count()
```

But if we want to summarize by one or more variables, for example galaxy type, we can
use Pandas' `.groupby` method. Once we've created a groupby DataFrame, we
can quickly calculate summary statistics by a group of our choice.

In [ ]:
sorted_data = gal_df.groupby('type')
# summary statistics for all numeric columns by type
sorted_data.describe()

In [ ]:
# provide the mean for each numeric column by type
sorted_data.mean()

The `groupby` command is powerful in that it allows us to quickly generate
summary stats.

## Quickly Creating Summary Counts in Pandas

Let's next count the number of galaxies for each type. We can do this in a few
ways, but we'll use `groupby` combined with a `count()` method.


```python
# count the number of samples by type
type_counts = gal_df.groupby('type')['id'].count()
```

Or, we can also count just the rows that have type='U':

```python
gal_df.groupby('type')['id'].count()['U']
```


### Challenge

1. What happens when you group by two columns using the following syntax and
    then grab mean values:
	- `sorted_data2 = gal_df.groupby(['type','p_e'])`
	- `sorted_data2.mean()`
2. Summarize number of votes for each galaxy class in your data. HINT: you can use the
   following syntax to only create summary statistics for one column in your data
   `by_class['nvote'].describe()`

In [ ]:
species_counts = gal_df.groupby('type')['id'].count()
gal_df.groupby('type')['id'].count()['U']

In [ ]:
sorted_data2 = gal_df.groupby(['type','p_e'])
sorted_data2.mean()

In [ ]:
by_class = gal_df.groupby('class')
by_class['nvote'].describe()


## Basic Math Functions

If we wanted to, we could perform math on an entire column of our data. For
example let's multiply all votes by 2. A more practical use of this might
be to normalize the data according to a mean, area, or some other value
calculated from our data.

In [ ]:
# multiply all votes by 2

## Quick & Easy Plotting Data Using Pandas

We can plot our summary stats using Pandas, too.

In [ ]:
# make sure figures appear inline in Ipython Notebook
%matplotlib inline
# create a quick bar chart
votes = gal_df.groupby('type')['id'].count()
votes.plot(kind='bar')

In [ ]:
#We can also look at how many galaxies were assigned to each class:
total_count = gal_df['id'].groupby(gal_df['class']).nunique()
# let's plot that too
total_count.plot(kind='bar')

### Challenge Activities

1. Create a plot of average votes across all class of galaxies.
2. Create a plot of total votes for each type of galaxy for the entire dataset.

In [ ]:
gal_df['nvote'].groupby(gal_df['class']).mean().plot(kind='bar')

In [ ]:
gal_df['nvote'].groupby(gal_df['type']).sum().plot(kind='bar')

# Indexing & Slicing in Python

We often want to work with subsets of a **DataFrame** object. There are
different ways to accomplish this including: using labels (ie, column headings - as used previously),
numeric ranges or specific x,y index locations.

## Extracting Range based Subsets: Slicing

**REMINDER**: Python Uses 0-based Indexing

Let's remind ourselves that Python uses 0-based
indexing. This means that the first element in an object is located at position
0. This is different from other tools like R and Matlab that index elements
within objects starting at 1.

```python
# Create a list of numbers:
a = [1,2,3,4,5]
```

[indexing diagram](https://github.com/datacarpentry/python-ecology-lesson/blob/gh-pages/fig/slicing-indexing.svg)

[slicing diagram](https://github.com/datacarpentry/python-ecology-lesson/tree/gh-pages/fig/slicing-slicing.svg)

In [ ]:
a = [1,2,3,4,5]

In [ ]:
a[0]

In [ ]:
a[5]

## Slicing Subsets of Rows in Python

Slicing using the `[]` operator selects a set of rows and/or columns from a
DataFrame. To slice out a set of rows, you use the following syntax:
`data[start:stop]`. When slicing in pandas the start bound is included in the
output. The stop bound is one step BEYOND the row you want to select. So if you
want to select rows 0, 1 and 2 your code would look like this:

```python
# select rows 0,1,2 (but not 3)
gal_df[0:3]
```

The stop bound in Python is different from what you might be used to in
languages like Matlab and R.

```python
# select the first, second and third rows from the surveys variable
gal_df[0:3]
# select the first 5 rows (rows 0,1,2,3,4)
gal_df[:5]
# select the last element in the list
gal_df[-1:]
```

In [ ]:
gal_df[0:5:2]

We can also reassign values within subsets of our DataFrame. But before we do that, let's make a 
copy of our DataFrame so as not to modify our original imported data. 

```python
# copy the surveys dataframe so we don't modify the original DataFrame
gal_copy = gal_df

# set the first three rows of data in the DataFrame to 0
gal_copy[0:3] = 0
```

Next, try the following code: 

```python
gal_copy.head()
gal_df.head()
```
What is the difference between the two data frames?

## Referencing Objects vs Copying Objects in Python

We might have thought that we were creating a fresh copy of the `gal_df` objects when we 
used the code `surveys_copy = gal_df`. However the statement  y = x doesn’t create a copy of our DataFrame. 
It creates a new variable y that refers to the **same** object x refers to. This means that there is only one object 
(the DataFrame), and both x and y refer to it. So when we assign the first 3 columns the value of 0 using the 
`surveys_copy` DataFrame, the `gal_df` DataFrame is modified too. To create a fresh copy of the `gal_df`
DataFrame we use the syntax y=x.copy(). But before we have to read the gal_df again because the current version contains the unintentional changes made to the first 3 columns.

```python
gal_df = pd.read_csv("GalaxyZoo1.csv")
gal_copy= gal_df.copy()

```

In [ ]:
gal_df = pd.read_csv("GalaxyZoo1.csv")

In [ ]:
gal_df.describe()

## Slicing Subsets of Rows and Columns in Python

We can select specific ranges of our data in both the row and column directions
using either label or integer-based indexing.

- `loc`: indexing via *labels* (which can be integers)
- `iloc`: indexing via *integers*

To select a subset of rows AND columns from our DataFrame, we can use the `iloc`
method. For example, we can select month, day and year (columns 2, 3 and 4 if we
start counting at 1), like this:

```python
gal_df.iloc[0:3, 1:4]
```

In [ ]:
gal_df.iloc[0:3, 1:4]

Notice that we asked for a slice from 0:3. This yielded 3 rows of data. When you
ask for 0:3, you are actually telling python to start at index 0 and select rows
0, 1, 2 **up to but not including 3**.


Let's next explore some other ways to index and select subsets of data:

In [ ]:
# select all columns for rows of index values 0 and 10
gal_df.loc[[0, 10], :]

In [ ]:
# what does this do?
gal_df.loc[0, ['id', 'p_e', 'p_s']]

In [ ]:
# What happens when you type the code below?
gal_df.loc[[0, 10, 668946], :]

NOTE: Labels must be found in the DataFrame or you will get a `KeyError`. The
start bound and the stop bound are **included**.  When using `loc`, integers
*can* also be used, but they refer to the **index label** and not the position. Thus
when you use `loc`, and select 1:4, you will get a different result than using
`iloc` to select rows 1:4.

We can also select a specific data value according to the specific row and
column location within the data frame using the `iloc` function:
`dat.iloc[row,column]`.


```python
gal_df.iloc[2,6]
```

which gives **output**

```
'F'
```

Remember that Python indexing begins at 0. So, the index location [2, 6] selects
the element that is 3 rows down and 7 columns over in the DataFrame.

## Challenge Activities

1. What happens when you type:
	- gal_df[0:4]
	- gal_df[:5]
	- gal_df[-1:]

2. What happens when you call:
    - `dat.iloc[0:4, 1:4]`
    - `dat.loc[0:4, 1:4]`
    - How are the two commands different?

## Subsetting Data Using Criteria & Making Masks

A mask can be useful to locate where a particular subset of values exist or
don't exist - for example,  NaN, or "Not a Number" values. To understand masks,
we also need to understand `BOOLEAN` objects in python.

Boolean values include `true` or `false`. So for example

```python
# set x to 5
x = 5
# what does the code below return?
x > 5
# how about this?
x == 5
```
When we ask python what the value of `x > 5` is, we get `False`. This is because x
is not greater than 5 it is equal to 5. To create a boolean mask, you first create the
True / False criteria (e.g. values > 5 = True). Python will then assess each
value in the object to determine whether the value meets the criteria (True) or
not (False). Python creates an output object that is the same shape as
the original object, but with a True or False value for each index location.

You can use the syntax below when querying data from a DataFrame. Experiment
with selecting various subsets of the "surveys" data.

* Equals: `==`
* Not equals: `!=`
* Greater than, less than: `>` or `<`
* Greater than or equal to `>=`
* Less than or equal to `<=`

Let's try this out. 
We can select all rows that have 80 votes.

In [ ]:
gal_df[gal_df.nvote == 80]

In [ ]:
#Or we can select all rows that do not contain 80 votes.
gal_df[gal_df.nvote != 80]

In [ ]:
#We can define sets of criteria too:
gal_df[(gal_df.nvote >= 80) & (gal_df.year <= 100)]

Next, let's identify all locations in the survey data that have
null (missing or NaN) data values. We can use the `isnull` method to do this.
Each cell with a null value will be assigned a value of  `True` in the new
boolean object.

In [ ]:
pd.isnull(gal_df)

To select the rows where there are null values,  we can use 
the mask as an index to subset our data as follows:

```python
#To select just the rows with NaN values, we can use the .any method
gal_df[pd.isnull(gal_df).any(axis=1)]
```

We can run isnull on a particular column too. What does the code below do?

```python
# what does this do?
empty_pE = gal_df[pd.isnull(gal_df['p_e'])
```

Let's take a minute to look at the statement above. 

We are using the Boolean object as an index. 
We are asking python to select rows that have a `NaN` value for the probability of a galaxy being Elliptical.

In [109]:
empty_pE = gal_df[pd.isnull(gal_df['p_e'])]
empty_pE.describe()

                 id      nvote  p_e         p_s
count  1.000000e+02  100.00000  0.0  100.000000
mean   5.877965e+17   38.42000  NaN    0.463080
std    1.573869e+14   12.71695  NaN    0.354045
min    5.877242e+17   22.00000  NaN    0.000000
25%    5.877311e+17   29.00000  NaN    0.115750
50%    5.877366e+17   33.00000  NaN    0.383500
75%    5.877421e+17   50.00000  NaN    0.818250
max    5.888489e+17   64.00000  NaN    1.000000

### Challenge Activities

1. You can use the `isin` command in python to query a DataFrame based upon a list of values as follows:
   `gal_df[gal_df['class'].isin([listGoesHere])]`. Use the `isin` function to find all galaxies Elliptical galaxies of class E0, E1 and E7. How many records contain these values?
2. The `~` symbol in Python can be used to return the OPPOSITE of the selection that you specify in python. It is equivalent to **is not in**. Write a query that selects all Spiral galaxies that are not classed as 'OTHER' an 'EDGE'.
3. Create a new DataFrame that only contains valid (i.e. no NAN probability) observations of Spiral galaxies with over 100 votes.

# Merging DataFrames


In many "real world" situations, the data that we want to use come in multiple
files. We often need to combine these files into a single DataFrame to analyze
the data. The pandas package provides [various methods for combining
DataFrames](http://pandas.pydata.org/pandas-docs/stable/merging.html) including
`merge` and `concat`.

To work through the examples below, we first need to load the galaxy zoo and
SDSS files into pandas DataFrames. In iPython:

``` python
import pandas as pd
gal_df = pd.read_csv('GalaxyZooSub.csv',
                         keep_default_na=False, na_values=["NA"])
sdss = pd.read_csv('SDSS_blue_centre_query.csv',
                         keep_default_na=False, na_values=[""])
gal_df.dtypes
sdss.dtypes
```

In [143]:
import pandas as pd
gal_df = pd.read_csv('GalaxyZooSub.csv',
                         keep_default_na=False, na_values=["NA"])
sdss = pd.read_csv('SDSS_blue_centre_query.csv',
                         keep_default_na=False, na_values=[""])

In [144]:
gal_df.dtypes

id         int64
ra        object
dec       object
nvote      int64
p_e      float64
p_s      float64
type      object
class     object
dtype: object

In [145]:
sdss.dtypes

objID         int64
ra          float64
dec         float64
z           float64
r           float64
expRad_r    float64
expAB_r     float64
deVRad_r    float64
deVAB_r     float64
dtype: object

Take note that the `read_csv` method we used can take some additional options which
we didn't use previously. Many functions in python have a set of options that
can be set by the user if needed. In this case, we have told Pandas to assign
empty values in our CSV to NaN `keep_default_na=False, na_values=[""]`.
[http://pandas.pydata.org/pandas-docs/dev/generated/pandas.io.parsers.read_csv.html](More
about all of the read_csv options here.)

## Concatinating

We can use the `concat` function in Pandas to append either columns or rows from
one DataFrame to another.  Let's grab two subsets of our data to see how this
works.

In [115]:
# read in first 10 lines of gal_df table
gal_sub=gal_df.head(10)
gal_sub

             id           ra          dec  nvote    p_e    p_s type class
0  5.877272e+17  00:00:00.41  -10:22:25.7     59  0.610  0.186    U     U
1  5.877272e+17  00:00:00.74  -09:13:20.2     18  0.203  0.797    S  EDGE
2  5.877272e+17  00:00:01.03  -10:56:48.0     68  0.432  0.428    U     U
3  5.877308e+17  00:00:01.38  +15:30:35.3     52  0.885  0.077    E    E1
4  5.877312e+17  00:00:01.55  -00:05:33.3     59  0.640  0.290    U     U
5  5.877272e+17  00:00:01.57  -09:29:40.3     28  0.830  0.060    U     U
6  5.877312e+17  00:00:01.86  +00:43:09.3     38  0.351  0.473    U     U
7  5.877272e+17  00:00:02.00  +15:41:49.8     26  0.143  0.857    S  EDGE
8  5.877308e+17  00:00:02.10  +15:52:54.2     62  0.355  0.548    U     U
9  5.877272e+17  00:00:02.41  +14:49:19.0     31  0.109  0.789    S  EDGE

In [ ]:
# grab the last 10 rows (minus the last one)
gal_last10=gal_df[-11:-1]
gal_last10

In [117]:
#reset the index values to the second dataframe appends properly
# drop=True option avoids adding new index column with old index values
gal_last10 = gal_last10.reset_index(drop=True)
gal_last10

             id           ra          dec  nvote    p_e    p_s type class
0  5.877308e+17  23:59:57.51  +15:24:04.5     30  0.125  0.815    S  EDGE
1  5.877272e+17  23:59:57.69  -10:54:41.5     27  0.100  0.900    S  EDGE
2  5.877308e+17  23:59:57.88  +15:31:29.1     36  0.887  0.056    U     U
3  5.877272e+17  23:59:58.46  -09:06:02.2     57  0.175  0.596    U     U
4  5.877272e+17  23:59:58.53  -08:43:19.6     48  0.029  0.928    S   ACW
5  5.877308e+17  23:59:58.71  +15:22:40.8     28  0.225  0.705    S  EDGE
6  5.877272e+17  23:59:58.76  -09:41:34.7     35  0.057  0.943    S    CW
7  5.877308e+17  23:59:58.78  +15:49:01.3     21  0.758  0.193    U     U
8  5.877272e+17  23:59:58.81  +15:39:49.4     28  0.099  0.603    U     U
9  5.877308e+17  23:59:59.02  +15:09:18.8     23  0.390  0.045    U     U

When we concatenate DataFrames, we need to specify the axis. `axis=0` tells
Pandas to stack the second DataFrame under the first one. It will automatically
detect whether the column names are the same and will stack accordingly.
`axis=1` will stack the columns in the second DataFrame to the RIGHT of the
first DataFrame. To stack the data vertically, we need to make sure we have the
same columns and associated column format in both datasets. When we stack
horizonally, we want to make sure what we are doing makes sense (ie the data are
related in some way).

In [ ]:
# stack the DataFrames on top of each other
vertical_stack = pd.concat([gal_sub,gal_last10], axis=0)
vertical_stack

In [ ]:
# place the DataFrames side by side
horizontal_stack = pd.concat([gal_sub,gal_last10], axis=1)
horizontal_stack

### Challenge - Row Index Values and Concat
Have a look at the `vertical_stack` dataframe? Notice anything unusual?
The row indexes for the two data frames `survey_sub` and `survey_sub_last10`
have been repeated. We can reindex the new dataframe using the `reset_index()` method.

## Writing Out Data to CSV

We can use the `to_csv` command to do export a DataFrame in CSV format. Note that the code
below will by default save the data into the current working directory. We can
save it to a different folder by adding the foldername and a slash to the file
`vertical_stack.to_csv('foldername/out.csv')`.

```python
# Write DataFrame to CSV 
vertical_stack.to_csv('out.csv')
```

Check out your working directory to make sure the CSV wrote out properly, and
that you can open it! If you want, try to bring it back into python to make sure
it imports properly.

```python	
# for kicks read our output back into python and make sure all looks good
new_output = pd.read_csv('out.csv', keep_default_na=False, na_values=["NA"])
```

# Joining DataFrames

When we concatenated our DataFrames we simply added them to each other -
stacking them either vertically or side by side. Another way to combine
DataFrames is to use columns in each dataset that contain common values (a
common unique id). Combining DataFrames using a common field is called
"joining". The columns containing the common values are called "join key(s)".
Joining DataFrames in this way is often useful when one DataFrame is a "lookup
table" containing additional data that we want to include in the other. 

For example, the `SDSS_blue_centre_query.csv` file that we've been loaded is a query from the SDSS DR7 database for 1000 galaxies with blue centres (things we would expect to be Spirals). 
This table contains the ID, postition, redshift and r-band magnitude as well as size measurements.

## Joining Two DataFrames 

### Identifying join keys

To identify appropriate join keys we first need to know which field(s) are
shared between the files (DataFrames). We might inspect both DataFrames to
identify these columns. If we are lucky, both DataFrames will have columns with
the same name that also contain the same data. If we are less lucky, we need to
identify a (differently-named) column in each DataFrame that contains the same
information.

Check the column names for gal_df and sdss

In [146]:
print(gal_df.columns.values)
print(sdss.columns.values)

['id' 'ra' 'dec' 'nvote' 'p_e' 'p_s' 'type' 'class']
['objID' 'ra' 'dec' 'z' 'r' 'expRad_r' 'expAB_r' 'deVRad_r' 'deVAB_r']

In our example, the join key is the column containing the object
identifier. We could also use 'ra' and 'dec', however, they are not presented in the same units thus joining on id will be esier.

There are [different types of joins](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/), so we
also need to decide which type of join makes sense for our analysis.

## Inner joins

The most common type of join is called an _inner join_. An inner join combines
two DataFrames based on a join key and returns a new DataFrame that contains
**only** those rows that have matching values in *both* of the original
DataFrames. 

Inner joins yield a DataFrame that contains only rows where the value being
joins exists in BOTH tables. An example of an inner join, adapted from [this
page](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/) is below:

![Inner join -- courtesy of codinghorror.com](http://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b012877702708970c-pi.png)

The pandas function for performing joins is called `merge` and an inner join is
the default option:

In [147]:
merged_inner = pd.merge(left=gal_df,right=sdss, left_on='id', right_on='objID')
# if both column names were 'id', we could skip the `left_on`
# and `right_on` arguments and still get the same result

In [148]:
# what's the size of the output data?
merged_inner.shape

(24, 17)

In [149]:
merged_inner

,id,ra_x,dec_x,nvote,p_e,p_s,type,class,objID,ra_y,dec_y,z,r,expRad_r,expAB_r,deVRad_r,deVAB_r
0,587731513679806592,01:17:31.04,+00:46:50.9,59,0.277,0.637,U,U,587731513679806592,19.379312,0.780805,0.072401,16.141273,3.229078,0.707623,6.374486,0.705669
1,587731513679806592,01:17:52.41,+00:46:50.8,27,0.155,0.845,S,EDGE,587731513679806592,19.379312,0.780805,0.072401,16.141273,3.229078,0.707623,6.374486,0.705669
2,588015509818769792,01:54:41.83,+00:36:41.8,70,0.185,0.693,U,U,588015509818769792,28.674315,0.611604,0.015408,17.427435,6.595679,0.454282,19.120083,0.396147
3,587727180615385216,02:50:12.48,-07:05:05.7,30,0.026,0.937,S,EDGE,587727180615385216,42.551995,-7.084910,0.072446,17.391731,4.901868,0.165823,11.124749,0.132615
4,587727180615385216,02:50:19.53,-07:02:23.3,39,0.442,0.455,U,U,587727180615385216,42.551995,-7.084910,0.072446,17.391731,4.901868,0.165823,11.124749,0.132615
5,587731513157353728,03:29:39.53,+00:19:59.1,26,0.876,0.047,E,E1,587731513157353728,52.371281,0.350567,0.317799,18.280933,1.427017,0.838607,2.458734,0.905905
6,587735042533818624,07:59:49.81,+22:03:13.2,24,0.522,0.352,U,U,587735042533818624,119.957541,22.053675,0.199291,17.823555,3.103296,0.835931,8.061345,0.842250
7,587741489813586048,07:53:37.12,+12:39:28.3,64,0.471,0.238,U,U,587741489813586048,118.406668,12.653790,0.196084,17.842041,4.644081,0.221541,10.188110,0.202037
8,587741489813586048,07:53:37.60,+12:39:13.7,43,0.018,0.957,S,EDGE,587741489813586048,118.406668,12.653790,0.196084,17.842041,4.644081,0.221541,10.188110,0.202037
9,587741489813586048,07:53:43.00,+12:35:58.9,28,0.235,0.765,S,EDGE,587741489813586048,118.406668,12.653790,0.196084,17.842041,4.644081,0.221541,10.188110,0.202037
10,588015508757348480,03:46:55.72,-00:24:09.6,41,0.134,0.832,S,CW,588015508757348480,56.732159,-0.402659,0.107470,17.184214,2.453168,0.754978,4.515238,0.741905
11,588015508757348480,03:47:01.93,-00:21:24.6,31,0.748,0.143,U,U,588015508757348480,56.732159,-0.402659,0.107470,17.184214,2.453168,0.754978,4.515238,0.741905
12,588015508757348480,03:47:13.39,-00:22:20.6,28,0.276,0.379,U,U,588015508757348480,56.732159,-0.402659,0.107470,17.184214,2.453168,0.754978,4.515238,0.741905
13,588015508757348480,03:47:19.67,-00:21:21.3,30,0.710,0.122,U,U,588015508757348480,56.732159,-0.402659,0.107470,17.184214,2.453168,0.754978,4.515238,0.741905
14,588015510368026880,03:47:49.55,+01:01:38.6,22,0.574,0.379,U,U,588015510368026880,56.992498,0.974901,0.184537,16.723036,4.723361,0.514490,11.199113,0.498724
15,588015510368026880,03:47:58.20,+00:58:29.6,71,0.687,0.269,U,U,588015510368026880,56.992498,0.974901,0.184537,16.723036,4.723361,0.514490,11.199113,0.498724
16,587725469592322304,08:12:14.01,+44:49:58.3,37,0.074,0.894,S,ACW,587725469592322304,123.058363,44.832864,0.144385,17.371262,3.313063,0.866447,7.940331,0.840449
17,587725552272015488,08:20:33.62,+51:30:35.8,22,0.284,0.661,U,U,587725552272015488,125.140082,51.509901,0.152503,17.237808,4.028725,0.474120,9.515176,0.450014
18,587725552272015488,08:21:14.36,+51:28:02.7,27,0.390,0.262,U,U,587725552272015488,125.140082,51.509901,0.152503,17.237808,4.028725,0.474120,9.515176,0.450014
19,587725552272015488,08:21:31.53,+51:23:55.0,32,0.087,0.638,U,U,587725552272015488,125.140082,51.509901,0.152503,17.237808,4.028725,0.474120,9.515176,0.450014
20,587728932415471744,08:43:15.93,+46:27:54.3,61,0.041,0.938,S,EDGE,587728932415471744,130.842396,46.538740,0.150304,17.159166,3.348468,0.963323,9.039744,0.937717
21,587728932415471744,08:43:22.18,+46:32:19.5,51,0.015,0.944,S,ACW,587728932415471744,130.842396,46.538740,0.150304,17.159166,3.348468,0.963323,9.039744,0.937717
22,587728932415471744,08:43:29.81,+46:31:14.7,26,0.038,0.885,S,CW,587728932415471744,130.842396,46.538740,0.150304,17.159166,3.348468,0.963323,9.039744,0.937717
23,587728932415471744,08:44:05.40,+46:24:43.5,65,0.026,0.958,S,EDGE,587728932415471744,130.842396,46.538740,0.150304,17.159166,3.348468,0.963323,9.039744,0.937717

The result of an inner join of `gal_df` and `sdss` is a new DataFrame
that contains the combined set of columns from `gal_df` and `sdss`. It
*only* contains rows that have an ID that is the same in
both the `gal_df` and `sdss` DataFrames. 

In other words, if a row in
`gal_df` has a value of `id` that does *not* appear in the `objID`
column of `sdss`, it will not be included in the DataFrame returned by an
inner join.  Similarly, if a row in `sdss` has a value of `objID`
that does *not* appear in the `id` column of `gal_df`, that row will not
be included in the DataFrame returned by an inner join.

The two DataFrames that we want to join are passed to the `merge` function using
the `left` and `right` argument. The `left_on='id'` argument tells `merge`
to use the `id` column as the join key from `gal_df` (the `left`
DataFrame). Similarly , the `right_on='objID'` argument tells `merge` to
use the `objID` column as the join key from `sdss` (the `right`
DataFrame). For inner joins, the order of the `left` and `right` arguments does
not matter.

The result `merged_inner` DataFrame contains all of the columns from `survey_sub` as well as all the columns from `sdss`.

Notice that `merged_inner` has way fewer rows than `gal_df`. This is an
indication that there were rows in `gal_df` with value(s) for `id` that
do not exist as value(s) for `objID` in `sdss`.
 
## Left joins

What if we want to add information from `sdss` to `gal_df` without
losing any of the information from `gal_df`? In this case, we use a different
type of join called a "left outer join", or a "left join".

Like an inner join, a left join uses join keys to combine two DataFrames. Unlike
an inner join, a left join will return *all* of the rows from the `left`
DataFrame, even those rows whose join key(s) do not have values in the `right`
DataFrame.  Rows in the `left` DataFrame that are missing values for the join
key(s) in the `right` DataFrame will simply have null (i.e., NaN or None) values
for those columns in the resulting joined DataFrame.

Note: a left join will still discard rows from the `right` DataFrame that do not
have values for the join key(s) in the `left` DataFrame.

![Left Join](http://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b01287770273e970c-pi.png)

A left join is performed in pandas by calling the same `merge` function used for
inner join, but using the `how='left'` argument:

In [150]:
merged_left = pd.merge(left=gal_df,right=sdss, left_on='id', right_on='objID', how='left')

merged_left

,id,ra_x,dec_x,nvote,p_e,p_s,type,class,objID,ra_y,dec_y,z,r,expRad_r,expAB_r,deVRad_r,deVAB_r
0,587727178450665600,00:10:51.39,-10:46:18.9,30,0.200,0.300,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,587727178450665600,00:10:53.39,-10:42:07.0,28,0.685,0.257,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,587727178450665600,00:11:22.37,-10:43:14.2,37,0.548,0.117,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,587727178451058944,00:14:56.97,-10:50:09.2,29,0.897,0.069,E,E3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,587727180060885248,00:07:28.25,-09:25:03.8,53,0.453,0.472,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,587727180598280320,00:12:15.01,-09:00:03.8,42,0.018,0.982,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,587727180598280320,00:12:15.32,-08:59:16.2,36,0.106,0.628,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,587727180598280320,00:12:32.55,-09:02:08.0,22,0.135,0.809,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,587727180598280320,00:12:33.25,-09:04:42.2,28,0.786,0.000,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,587727221413708032,00:01:47.08,+14:20:51.9,22,0.337,0.347,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,587727221413708032,00:01:49.53,+14:26:22.9,29,0.517,0.407,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,587727221413708032,00:01:49.78,+14:30:48.0,52,0.839,0.161,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,587727221413708032,00:01:51.33,+14:27:54.1,27,0.126,0.768,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,587727221413708032,00:01:57.28,+14:30:48.5,59,0.103,0.828,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,587727221950578816,00:01:44.57,+14:53:51.5,29,0.791,0.209,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,587727221950578816,00:01:55.08,+14:51:08.8,25,0.027,0.973,S,CW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,587727222487646464,00:03:36.64,+15:10:44.8,31,0.218,0.519,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,587727223024779392,00:05:38.62,+15:39:03.1,34,0.034,0.966,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,587727223024779392,00:05:39.74,+15:46:06.4,29,0.690,0.103,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,587727223024779392,00:06:02.65,+15:47:30.2,30,0.687,0.113,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,587727223024779520,00:05:42.77,+15:41:03.9,51,0.023,0.956,S,ACW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,587727223024779520,00:05:42.80,+15:48:05.3,23,0.446,0.340,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,587727223024779520,00:05:45.02,+15:42:05.9,27,0.754,0.162,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,587727223024779520,00:05:48.59,+15:36:33.1,30,0.009,0.956,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,587727223024779520,00:05:50.86,+15:39:44.1,25,0.000,0.960,S,CW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,587727223024779520,00:05:57.54,+15:41:55.2,32,0.873,0.127,E,E6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,587727223024779520,00:06:00.39,+15:40:39.6,36,0.036,0.895,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,587727223024779520,00:06:02.25,+15:41:59.9,27,0.078,0.922,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,587727223024779648,00:05:52.08,+15:42:54.2,26,0.156,0.611,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,587727223024779648,00:05:55.92,+15:37:57.0,54,0.056,0.846,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,587731873390395648,08:33:42.54,+40:35:38.6,24,0.107,0.893,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,587731873390395648,08:33:44.93,+40:39:04.3,58,0.035,0.965,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1615,587731873390395648,08:33:52.29,+40:41:16.4,41,0.261,0.642,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,587731873927201152,08:31:45.52,+40:50:02.9,68,0.750,0.191,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1617,587731874464137472,08:30:15.77,+41:18:33.4,65,0.066,0.913,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1618,587731874464137472,08:30:20.12,+41:14:30.8,29,0.436,0.448,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1619,587731874464137472,08:30:27.08,+41:11:13.7,27,0.166,0.796,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1620,587731885734363520,08:05:57.06,+33:53:08.2,34,0.176,0.765,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1621,587731885734363520,08:06:19.24,+33:52:55.3,30,0.057,0.943,S,CW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622,587731885734887808,08:09:38.42,+34:53:20.5,53,0.490,0.490,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,587731885734887808,08:09:55.61,+34:50:01.8,32,0.922,0.078,E,E1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,587731886271889792,08:09:07.95,+35:13:14.5,29,0.463,0.463,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,587731886271889792,08:09:08.12,+35:22:38.0,49,0.124,0.702,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,587731886272741632,08:15:13.42,+36:46:35.6,36,0.014,0.818,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,587731886272741632,08:15:31.12,+36:47:55.7,21,0.672,0.231,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,587731886272741632,08:15:36.35,+36:45:54.0,27,0.926,0.000,E,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1629,587731886272741632,08:15:37.24,+36:39:45.6,30,0.135,0.613,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,587731886272741632,08:15:39.54,+36:41:30.3,19,0.737,0.000,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,587731886272741632,08:15:46.91,+36:40:58.7,23,0.652,0.130,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,587731886275362944,08:36:38.24,+40:59:44.3,60,0.933,0.050,E,E5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,587731886276018432,08:42:31.62,+42:06:55.7,34,0.049,0.912,S,EDGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,587731886276018432,08:42:48.85,+42:06:07.0,63,0.146,0.760,S,ACW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,587731886810726528,08:22:34.08,+38:52:01.4,61,0.764,0.102,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,587731886810726528,08:22:43.39,+38:54:43.9,28,0.841,0.051,E,E1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,587731886810726528,08:22:56.40,+38:45:06.7,31,0.084,0.497,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,587731886812037504,08:33:55.31,+41:03:03.6,37,0.018,0.928,S,ACW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,587731886812102912,08:34:20.29,+41:10:33.2,49,0.050,0.762,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,587731886812102912,08:34:33.49,+41:06:07.6,40,0.948,0.027,E,E7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1641,587731886812168192,08:34:24.23,+41:16:02.5,52,0.134,0.847,S,ACW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,587732048940237056,08:38:01.88,+40:52:40.6,34,0.774,0.163,U,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The result DataFrame from a left join (`merged_left`) looks very much like the
result DataFrame from an inner join (`merged_inner`) in terms of the columns it
contains. However, unlike `merged_inner`, `merged_left` contains the **same
number of rows** as the original `gal_df` DataFrame. When we inspect
`merged_left`, we find there are rows where the information that should have
come from `sdss` (e.g., `z`, `r`, and `expRad_r`) is
missing (they contain NaN values):

In [152]:
len(merged_left[ pd.isnull(merged_left.z) ])

1619

These rows are the ones where the value of `id` from `sdss` does not occur in `gal_df`.


## Other join types

The pandas `merge` function supports two other join types:

* Right (outer) join: Invoked by passing `how='right'` as an argument. Similar
  to a left join, except *all* rows from the `right` DataFrame are kept, while
  rows from the `left` DataFrame without matching join key(s) values are
  discarded.
* Full (outer) join: Invoked by passing `how='outer'` as an argument. This join
  type returns the all pairwise combinations of rows from both DataFrames; i.e.,
  the result DataFrame will `NaN` where data is missing in one of the dataframes. This join type is
  very rarely used.

# Automating data processing using For Loops

So far, we've used Python and the pandas library to explore and manipulate
individual datasets by hand, much like we would do in a spreadsheet. The beauty
of using a programming language like Python, though, comes from the ability to
automate data processing through the use of loops and functions.

## For loops

Loops allow us to repeat a workflow (or series of actions) a given number of
times or while some condition is true. We would use a loop to automatically
process data that's stored in multiple files (daily values with one file per
year, for example). Loops lighten our work load by performing repeated tasks
without our direct involvement and make it less likely that we'll introduce
errors by making mistakes while processing each file by hand.

Let's write a simple for loop that simulates what a kid might see during a
visit to the zoo:

In [ ]:
animals = ['lion','tiger','crocodile','vulture','hippo']
print(animals)

In [ ]:
for creatures in animals:
    print(creatures)

The line defining the loop must start with `for` and end with a colon, and the
body of the loop must be indented.

In this example, `creature` is the loop variable that takes the value of the next
entry in `animals` every time the loop goes around. We can call the loop variable
anything we like. After the loop finishes, the loop variable will still exist
and will have the value of the last entry in the collection:

In [ ]:
for creatures in animals:
    pass

In [ ]:
creatures

We are not asking python to print the value of the loop variable anymore, but
the for loop still runs and the value of `creature` changes on each pass through
the loop. The statement `pass` in the body of the loop just means "do nothing".

The file we've been using so far, `GalaxyZoo1.csv`, contains 10s of 1000s of observations and
very large. We would like to separate the data for each galaxy class.

Let's start by making a new directory inside the folder `data` to store all of
these files using the module `os`:

In [153]:
os.mkdir("gals_by_class")

The command `os.mkdir` is equivalent to `mkdir` in the shell. Just so we are
sure, we can check that the new directory was created within the `data` folder:

In [155]:
os.listdir(".")

['.DS_Store',
 'GalaxyZoo1.csv',
 'GalaxyZooSub.csv',
 'gals_by_class',
 'SDSS_blue_centre_query.csv']

The command `os.listdir` is equivalent to `ls` in the shell.

Previously, we saw how to use the library pandas to load the species
data into memory as a DataFrame, how to select a subset of the data using some
criteria, and how to write the DataFrame into a csv file. Let's write a script
that performs those three steps in sequence for selecting clockwise spirals:

```python
import pandas as pd

# Load the data into a DataFrame
gal_df = pd.read_csv('GalaxyZoo1.csv',
                         keep_default_na=False, na_values=["NA"])

# Select only clockwise spirals
cw_gals = gal_df[gal_df.class == 'CW']

# Write the new DataFrame to a csv file
cw_gals.to_csv('gals_by_class/cw_gals.csv')
```

To create files for each class, we could repeat the last two commands over and
over, once for each class of galaxy. Repeating code is neither elegant nor
practical, and is very likely to introduce errors into your code. We want to
turn what we've just written into a loop that repeats the last two commands for
every year in the dataset.

Let's start by writing a loop that simply prints the names of the files we want
to create - the dataset we are using covers CW, ACW, EDGE, E0 through E7 and U, and we'll create
a separate file for each of those years. Listing the filenames is a good way to
confirm that the loop is behaving as we expect.

We have seen that we can loop over a list of items, so we need a list of galaxy classes 
to loop over. We can get the unique classes in our DataFrame with:

In [158]:
gal_df = pd.read_csv('GalaxyZoo1.csv',
                         keep_default_na=False, na_values=["NA"])
cw_gals = gal_df[gal_df.class == 'CW']
cw_gals.to_csv('gals_by_class/cw_gals.csv')

In [159]:
gal_df['class'].unique()

array(['U', 'EDGE', 'E1', 'E4', 'E0', 'E2', 'ACW', 'CW', 'E3', 'E6', 'E5',
       'E7'], dtype=object)

Putting this into our for loop we get

In [164]:
for galclass in gal_df['class'].unique():
    filename = 'gals_by_class/' + galclass + '_gals.csv'
    print(filename)

gals_by_class/U_gals.csv
gals_by_class/EDGE_gals.csv
gals_by_class/E1_gals.csv
gals_by_class/E4_gals.csv
gals_by_class/E0_gals.csv
gals_by_class/E2_gals.csv
gals_by_class/ACW_gals.csv
gals_by_class/CW_gals.csv
gals_by_class/E3_gals.csv
gals_by_class/E6_gals.csv
gals_by_class/E5_gals.csv
gals_by_class/E7_gals.csv

We can now add the rest of the steps we need to create separate text files.
Once finished look inside the `gals_by_class` directory and check a couple of the files you
just created to confirm that everything worked as expected.

In [ ]:
for galclass in gal_df['class'].unique():
    filename = 'gals_by_class/' + galclass + '_gals.csv'
    # extracting data of a specific year
    class_df = gal_df[gal_df.class == galclass]
    # writing to file
    class_df.to_csv(filename)

## Writing Unique FileNames

Notice that the code above created a unique filename for each year.

	 filename = 'gals_by_class/' + galclass + '_gals.csv'

Let's break down the parts of this name:

* The first part is simply some text that specifies the directory to store our
  data file in 
* We can concatenate this with the value of a variable, in this case `galclass` by
  using the plus `+` sign and the variable we want to add to the file name: `+
  galclass`
  _Note:_ if you wanted to concatenate a number in the filename convert it to a string first using str(number)
* Then we add the file extension and a short descriptor as another text string: `+ '_gals.csv'`

Notice that we use single quotes to add text strings. The variable is not
surrounded by quotes.

### Challenge

1. Some of the entries are missing data (i.e. NaN for the probability measurements). Modify the for loop so that the entries with null values are not included in the class files.

## Building reusable and modular code with functions

Suppose that separating large data files into individual files is a task
that we frequently have to perform. We could write a **for loop** like the one above
every time we needed to do it but that would be time consuming and error prone.
A more elegant solution would be to create a reusable tool that performs this
task with minimum input from the user. To do this, we are going to turn the code
we've already written into a function.

Functions are reusable, self-contained pieces of code that are called with a
single command. They can be designed to accept arguments as input and return
values, but they don't need to do either. Variables declared inside functions
only exist while the function is running and if a variable within the function
(a local variable) has the same name as a variable somewhere else in the code,
the local variable hides but doesn't overwrite the other.

Every method used in Python (for example, `print`) is a function, and the
libraries we import (say, `pandas`) are a collection of functions. We will only
use functions that are housed within the same code that uses them, but it's also
easy to write functions that can be used by different programs.

Functions are declared following this general structure:

```python
def this_is_the_function_name(input_argument1, input_argument2):

    # The body of the function is indented
    # This function prints the two arguments to screen
    print('The function arguments are:', input_argument1, input_argument2, 
    '(this is done inside the function!)')

    # And returns their product
    return input_argument1 * input_argument2
```

The function declaration starts with the word `def`, followed by the function
name and any arguments in parenthesis, and ends in a colon. The body of the
function is indented just like loops are. If the function returns something when
it is called, it includes a return statement at the end.

In [ ]:
#let's define this function
def function_name(input_argument1, input_argument2):

    # The body of the function is indented
    # This function prints the two arguments to screen
    print('The function arguments are:', input_argument1, input_argument2, '(this is done inside the function!)')

    # And returns their product
    return input_argument1 * input_argument2

In [ ]:
#and now let's call the function:
#and now let's call the function:
result = function_name(4,4)
result

### Challenge:

1. Change the values of the arguments in the function and check its output
2. Try calling the function by giving it the wrong number of arguments (not 2)
   or not assigning the function call to a variable (no `product_of_inputs =`)
3. Declare a variable inside the function and test to see where it exists (Hint:
   can you print it from outside the function?)
4. Explore what happens when a variable both inside and outside the function
   have the same name. What happens to the global variable when you change the
   value of the local variable?

Now let's write a function to save galaxy data for a range of probabilities. 
Let's first write a function that separates data for just one probability value and saves that data to a file:
To make this easier for us we will need to round our probabilities to 1 digit.
For this we will use the nympy round method, so we will have to import numpy as well.


```python
import numpy as np

def one_prob_csv_writer(this_prob, all_data):
    """
    Writes a csv file for data for a given class.

    this_prob --- probability for which data is extracted
    all_data --- DataFrame with multi-class data
    """

    # Select data for the galaxy class
    class_df = all_data[np.round(all_data.p_e, 1) == this_prob]

    # create new file name
    filename = filename = 'gals_by_class/Probability' + str(this_prob) + '_gals.csv'

    # Write the new DataFrame to a csv file
    class_df.to_csv(filename)
```

In [181]:
import numpy as np

def one_prob_csv_writer(this_prob, all_data):
    """
    Writes a csv file for data for a given class.

    this_prob --- probability for which data is extracted
    all_data --- DataFrame with multi-class data
    """

    # Select data for the galaxy class
    class_df = all_data[np.round(all_data.p_e, 1) == this_prob]

    # create new file name
    filename = filename = 'gals_by_class/Probability' + str(this_prob) + '_gals.csv'

    # Write the new DataFrame to a csv file
    class_df.to_csv(filename)

The text between the two sets of triple double quotes is called a docstring and
contains the documentation for the function. It does nothing when the function
is running and is therefore not necessary, but it is good practice to include
docstrings as a reminder of what the code does. Docstrings in functions also
become part of their 'official' documentation:

In [169]:
one_prob_csv_writer?

In [183]:
one_prob_csv_writer(0.5,gal_df)

Check the `gals_by_class` directory for the file. Did it do what you expect?

What we really want to do, though, is create files for multiple probabilities without
having to request them one by one. Let's write another function that replaces
the entire For loop by simply looping through a sequence of years and repeatedly
calling the function we just wrote, `one_year_csv_writer`:


```python
def prob_data_csv_writer(start_prob, end_prob, all_data):
    """
    Writes separate csv files for each probability in the data.

    start_prob --- the first year of data we want
    end_prob --- the last year of data we want
    all_data --- DataFrame with multi-year data
    """

    # "end_prob" is the last prob of data we want to pull, so we loop to end_prob+0.1
    for prob in np.arange(start_prob, end_prob+0.1, 0.1):
        one_prob_csv_writer(prob, all_data)
```

In [ ]:
def prob_data_csv_writer(start_prob, end_prob, all_data):
    """
    Writes separate csv files for each probability in the data.

    start_prob --- the first year of data we want
    end_prob --- the last year of data we want
    all_data --- DataFrame with multi-year data
    """

    # "end_year" is the last year of data we want to pull, so we loop to end_year+1
    for prob in range(start_prob, end_prob+0.1):
        one_prob_csv_writer(prob, all_data)

Because people will naturally expect that the end year for the files is the last
year with data, the for loop inside the function ends at `end_year + 1`. 
This is because when we specify `range()` the last number is not included, try it for yourself.

By writing the entire loop into a function, we've made a reusable tool for whenever
we need to break a large data file into yearly files. Because we can specify the
first and last year for which we want files, we can even use this function to
create files for a subset of the years available. This is how we call this
function:

In [187]:
prob_data_csv_writer(0.3,0.5,gal_df)

array([ 0.3,  0.4,  0.5,  0.6])

**BEWARE!** If you are using IPython Notebooks and you modify a function, you MUST
re-run that cell in order for the changed function to be available to the rest
of the code. Nothing will visibly happen when you do this, though, because
simply defining a function without *calling* it doesn't produce an output. Any
cells that use the now-changed functions will also have to be re-run for their
output to change.

### Challenge:

1. Add two arguments to the functions we wrote that take the path of the
   directory where the files will be written and the root of the file name.
   Create a new set of files with a different name in a different directory.

The functions we wrote demand that we give them a value for every argument.
Ideally, we would like these functions to be as flexible and independent as
possible. Let's modify the function `prob_data_csv_writer` so that the
`start_prob` and `end_prob` default to the full range of the data if they are
not supplied by the user. Arguments can be given default values with an equal
sign in the function declaration. Any arguments in the function without default
values (here, `all_data`) is a required argument and MUST come before the
argument with default values (which are optional in the function call).

```python
    def prob_range_data_arg_test(all_data, start_year = None, end_year = None):
        """
        Modified from prob_data_csv_writer to test default argument values!

        start_prob --- the min probability of data we want --- default: None - check all_data
        end_prob --- the max probability of data we want --- default: None - check all_data
        all_data --- DataFrame with multi-year data
        """

        if not start_ptob:
            start_prob = min(all_data.p_e)
        if not end_prob:
            end_prob = max(all_data.prob)

        return start_prob, end_prob
```

In [ ]:
#define function

In [ ]:
#test function

The default values of the `start_prob` and `end_prob` arguments in the function
`prob_range_data_arg_test` are now `None`. This is a build-it constant in Python
that indicates the absence of a value - essentially, that the variable exists in
the namespace of the function (the directory of variable names) but that it
doesn't correspond to any existing object.

The body of the test function now has two conditional 'loops' (if statement) that
check the values of `start_prob` and `end_prob`. If statements execute the body of
the 'loop' when some condition is met. They commonly look something like this:

```python
    a = 5

    if a<0: # meets first condition?

        # if a IS less than zero
        print('a is a negative number')

    elif a>0: # did not meet first condition. meets second condition?

        # if a ISN'T less than zero and IS more than zero
        print('a is a positive number')

    else: # met neither condition

        # if a ISN'T less than zero and ISN'T more than zero
        print('a must be zero!')

    a is a positive number
```

Change the value of `a` to see how this function works. The statement `elif`
means "else if", and all of the conditional statements must end in a colon.

The if statements in the function `yearly_data_arg_test` check whether there is an
object associated with the variable names `start_year` and `end_year`. If those
variables are `None`, the if statements return the boolean `True` and execute whatever
is in their body. On the other hand, if the variable names are associated with
some value (they got a number in the function call), the if statements return `False`
and do not execute. The opposite conditional statements, which would return
`True` if the variables were associated with objects (if they had received value
in the function call), would be `if start_year` and `if end_year`.

As we've written it so far, the function `yearly_data_arg_test` associates
values in the function call with arguments in the function definition just based
in their order. If the function gets only two values in the function call, the
first one will be associated with `all_data` and the second with `start_year`,
regardless of what we intended them to be. We can get around this problem by
calling the function using keyword arguments, where each of the arguments in the
function definition is associated with a keyword and the function call passes
values to the function using these keywords:

```python
    def yearly_data_arg_test(all_data, start_year = None, end_year = None):
        """
        Modified from yearly_data_csv_writer to test default argument values!

        start_year --- the first year of data we want --- default: None - check all_data
        end_year --- the last year of data we want --- default: None - check all_data
        all_data --- DataFrame with multi-year data
        """

        if not start_year:
            start_year = min(all_data.year)
        if not end_year:
            end_year = max(all_data.year)

        return start_year, end_year
```

In [ ]:
#define function

In [ ]:
#test function

### Challenge:

1. Rewrite the `one_year_csv_writer` and `yearly_data_csv_writer` functions to
have keyword arguments with default values

2. Modify the functions so that they don't create yearly files if there is no
data for a given year and display an alert to the user (Hint: use conditional
statements and if loops to do this. For an extra challenge, use `try`
statements!)

3. The code below checks to see whether a directory exists and creates one if it
doesn't. Add some code to your function that writes out the CSV files, to check
for a directory to write to.

```Python
	if 'dir_name_here' in os.listdir('.'):
	    print('Processed directory exists')
	else:
	    os.mkdir('dir_name_here')
	    print('Processed directory created')
```

4. The code that you have written so far to loop through the years is good,
however it is not necessarily reproducible with different datasets.
For instance, what happens to the code if we have additional years of data
in our CSV files? Using the tools that you learned in the previous activities,
make a list of all years represented in the data. Then create a loop to process
your data, that begins at the earliest year and ends at the latest year using
that list.

HINT: you can create a loop with a list as follows: `for years in year_list:`